<h1>Issues</h1>

<% @issues.each do |issue| %>
  <a href="<%= issue.html_url %>" target="_blank" style="text-decoration: none; color: inherit;">
    <div class="issue">
      <h2><%= issue.title %></h2>
      <%= truncate(issue.body, length: 500, separator: ' ', omission: ' ... (click to read more)') %>
      <div class="small-card">
        <b><%= issue.state %></b>
      </div>
    </div>
  </a>
<% end %>

<%= link_to 'Home', root_path, class: 'btn' %>
